name: example
description: An example applicataion for flutter_translate_gen

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:

flutter:

  uses-material-design: true
